{% extends 'base.html.twig' %}
{% set parameters = var_parameters.parameters %}
{% block title %}{{parameters.company}} - {{ page.action.name }}{% endblock %}
{% set hasContactForm = true %}

{% block body %}
    <main class="page">
        <h1 class="max-width">{{ page.name}}</h1>
        {% for pageContainer in  page.pageContainers %}
            {% set mode = 'view' %}
            {% include "/page/container.html.twig" %}
        {% endfor %}
    </main>
{% endblock %}
