{% extends 'base.html.twig' %}

{% block title %}Une pause{% endblock %}

{% block body %}
<div class="grid-2-4-2">
    <img src="/images/massage-dos.jpg" alt="massage du dos">
    <section>
        <p>Le massage est un instrument de communication non parlé, un dialoque destiné aux soins du corps, qui concerne l'individu tout entier.
        Il agit comme amplificateur des performances physico-affectives et en général de la santé.</p>
        <p>Il intervient sur la peau, le système nerveux, la trame fasciale, les organes et sur la circulation. Mais il ne se limite pas aux tissus et aux articulations car il est orienté vers la personne avec toutes ses capacités organiques et son état intellectuel et émotionnel.</p>
    </section>
    <img src="/images/massage-epaule.jpg" alt="massage de l'épaule">
</div>

{% endblock %}
