<header>
    <img class="full-size" src="/images/header.png" alt="une-pause">
    <img class="logo" src="/images/une-pause.png" alt="une-pause">
    {% set tabs = app.request.request.get('tabs') %}
    <nav>
        <ul>
            {% for tab in tabs %}
                <li class="nav-item">       
                {% if tab.pages|length > 0 %}
                    {% if tab.pages|length > 1 %}
                        <a class="nav-link">{{ tab.name }}</a>
                        <div class="dropdown-menu">
                            {% for page in tab.pages %}
                                {% set class_item = "dropdown-item"%}
                                {% include 'partials/routeParameters.html.twig' %}
                            {% endfor %}
                        </div>
                    {% else %}
                        {% set page = tab.pages[0] %}
                        {% set class_item = "nav-link"%}
                        {% include 'partials/routeParameters.html.twig' %}
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>