/*bases*/
html,
body,
textarea,
figure,
label {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding-left: 0em;
}
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
h1:last-child,
h2:flast-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child{
    margin-bottom: 0;
}
p,
ul,
ol,
dl,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
li p,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}
aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}
img {
    width: auto;
    height: auto;
    vertical-align: middle;
}
a img { border: 0; }
a {text-decoration: none;}
body > script {display: none !important;}

@keyframes slideToRight {
	0% {left:-100%; opacity: 0;}
  100% {left:0%; opacity: 1;}
}
@-webkit-keyframes slideToRight {
	0% {left:-100%; opacity: 0;}
  100% {left:0%; opacity: 1;}
}
@keyframes slideToLeft {
	0% {right:-100%; opacity: 0;}
  100% {right:0%; opacity: 1;}
}
@-webkit-keyframes slideToLeft {
	0% {right:-100%; opacity: 0;}
  100% {right:0%; opacity: 1;}
}
@font-face {
    font-family: yu gothic ui m;
    src: url("../fonts/YuGothic-Medium-01.ttf")   format("ttf")
}
.nav-item {
    display: inline-block;
    list-style: none;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
}
.nav-item:not(:first-child)::before, .dropdown-item:not(:first-child)::before {
    content: '|';
    color: #ffffff;
    margin: 0 7px;
}
.nav-item:hover .dropdown-menu {
    height: 40px;
    border-top: 1px solid #fff;
}
.nav-item:hover .nav-link, .dropdown-item:hover, .active {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: thin;
}
.nav-item a {
    color: inherit;
}
.nav-tab, .bars {
    position: absolute;
    z-index: 2;
}
.nav-tab {
    top: 30px;
    right: 60px;
}
.nav-tab ul {
    position: relative;
}
.bars {
    top: 20px;
    right: 20px;
}
.nav-btn {
    color: #ffffff;
    display: none;
    font-size: 1.2em;
    background-color: transparent;
    padding: 10px;
}
.dropdown-menu {
    position: absolute;
    right: 0px;
    top: 30px;
    width: max-content;
    height: 0px;
    line-height: 40px;
    overflow: hidden;
    border-top: 1px solid transparent;
    transition: all 1s ease;
}
.full-size {
    width: 100%;
    height: 100%;
}
header {
    position: relative;
    grid-area: header;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fffac8;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-areas: "header"
                        "main"
                        "footer";
    grid-template-rows: 200px auto 50px;
}
.page {
    padding: 95px 40px 40px 40px;
    grid-area: main;
}
.logo {
    position: absolute;
    top: 32%;
    left: 40px;
}
body {
    font-family: yu gothic ui m, sans-serif;
    color: #333333;
    background-color: #9e9e9ea8;
}
.grid {
    display: grid;
    width: 100%;
}
.grid-home {
    grid-template-areas: "first-column title last-column"
                        "first-column main last-column";
    grid-template-columns: 2.5fr 5fr 2.5fr;
    grid-template-rows: auto 1fr;
    grid-gap: 4%;
    gap: 4%;
}
.grid > .last-column {
    grid-area: last-column;
}
.grid > .first-column {
    grid-area: first-column;
}
.grid > main {
    grid-area: main;
}
.grid > h1 {
    grid-area: title;
}
.grid > footer {
    grid-area: footer;
}
.grid-article {
    grid-template-columns: 2.5fr 7.5fr;
    grid-template-areas: "first-column title"
                         "first-column main";
    grid-template-rows: auto 1fr auto;
    gap: 0 4%;
}
.grid-prices {
    grid-template-areas: "first-column title"
                         "first-column main"
                         "first-column footer";
    grid-template-columns: 2.5fr 7.5fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0 4%;
    gap: 0 4%;
}

.col-md-2 {
    columns: 2;
    column-gap: 6%;
}
section {
    position: relative;
}
section p, section ul, ol ul li  {
    line-height: 1.5;
    text-align: justify;
    font-size: .9em;
    widows: 3;
    orphans: 3;
}
p + p, ul + p, ol li, p + h2, p + iframe {
    margin-top: 15px;
}
h1 {
    margin-bottom: 20px;
}
h2 {
    font-size: .9em;
}
section li {
    list-style-position: inside;
}
.slide-column {
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
    padding-right: 5px;
}
.picture-left {
    left:-100%;
    opacity: 0;
}
.slide-element {
    border-radius: 30px 0 30px 0;
    box-shadow: 5px 5px 5px gray;
    display: block;
    overflow: hidden;
}
.slide-to-right {
    position: relative;
	-webkit-animation: slideToRight 2s;
	animation: slideToRight 2s;
}
.picture-right {
    right: -100%;
    opacity: 0;
}
.slide-to-left {
    position: relative;
	-webkit-animation: slideToLeft 2s;
	animation: slideToLeft 2s;
}
.price-table {
    width: 100%;
    border-collapse: collapse;
    font-size: .9em;
}
.price, .unit {
    min-width: 30px;
    text-align: right;
}
.legal-notices {
    font-size: .8em;
}
.legal-notices i {
    font-size: 2.5em;
}
td, th {
    padding: 7px 0px;
}
td {
    border-bottom: 1px solid #9e9e9ea8;
}
ol h2 {
    display: initial;
}
ol ul li {
    list-style-type: square;
}
.dark-background {
    background-color: #333333;
    color : #ffffff;
    padding: 20px;
    box-sizing: border-box;
}
.footer {
    text-align: center;
    font-size: 0.8em;
    grid-area: footer
}
.form-group {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.form-label {
    height: 30px;
    width: 150px;
}
.form-group-control {
    width: 100%;
    overflow: hidden;
}
.form-control {
    border: 1px solid #333333;
    width: 100%;
    padding: 7px;
    background-color: transparent;
    box-sizing: border-box;
}
.form-control:focus {
    border: 1px solid #107d2f;
}
.form-footer {
    text-align: right;
}
.form-errors {
    color: red;
}
textarea {
    min-height: 100px;
}
.btn {
    border: none;
    padding: 7px;
} 
.btn-primary {
    background-color: #107d2f;
    color: #fff;
}
@media screen and (max-width : 767px) {
    .container {
        grid-template-rows: 100px auto 100px;
    }
    .nav-btn, .dropdown-item {
        display: block;
    }
    .nav-btn {
        text-align: right;
    }
    .times {
        padding: 0 20px;
        box-sizing: border-box;
    }
    .nav-tab {
        transform: scaleX(0);
        background-color: #333333;
        top: 0;
        right: 0;
        transition: all 1s ease;
        padding-top: 20px;
    }
    .nav-tab ul {
        margin: 1px 20px;
    }
    .nav-item {
        display: list-item;
        position: relative;
    }
    .nav-item::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -7px;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid rgba(256, 256, 256, 0.7);
    }
    nav a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .nav-item:not(:first-child)::before, .dropdown-item:not(:first-child)::before {
        content: '';
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-menu {
        line-height: initial;
    }
    .nav-item, .dropdown-menu a {
        margin-bottom: 15px;
    }
    .dropdown-menu {
        margin-top: 10px;
        position: initial;
        left: auto;
        top: auto;
        height: auto;
        padding-left: 15px;
    }
    .grid-home {
        grid-template-areas: "first-column"
                             "title"
                             "main"
                             "last-column";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }
    .grid-prices {
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                             "first-column"
                             "main"
                             "footer";
        grid-template-rows: auto;
        gap: 20px;
    }
    .grid-article {
        grid-template-columns: 1fr;
        grid-template-areas: "first-column"
                             "title"
                             "main";
        grid-template-rows: auto;
        gap: 20px;
    }
    nav.nav-tab-active {
        transform: scaleY(1);
        right: 0;
    }
    .form-label {
        display: none;
    }
    .form-footer {
        text-align: center;
    }
}
@media screen and (max-width : 767px) and (orientation: landscape) {
    .nav-tab, .nav-tab-active, .times {
        width: 414px;
    }
    .nav-tab {
        height: 276px;
        right: -207px;
    }
    .nav-tab ul {
        column-count: 2;
        vertical-align: text-top;
    }
}
@media screen and (max-width : 767px) and (orientation: portrait) {
    .nav-tab {
        height: 460px;
        width: 220px;
        right: -110px;
    }
    .times {
        width: 220px;
    }
}

@media screen and (max-width : 414px) {
    .logo {
        height: 100px;
    }

    .col-xs-1{
        columns: 1;
    }
}