@font-face {
    font-family: futura_medium;
    src: url("../fonts/FuturaBT-Medium.woff2") format("woff2"),
    url("../fonts/FuturaBT-Medium.woff") format("woff");
}
@font-face {
    font-family: futura_medium_italic;
    src: url("../fonts/FuturaBT-MediumItalic.woff2") format("woff2"),
    url("../fonts/FuturaBT-MediumItalic.woff") format("woff");
}
@font-face {
    font-family: 'charlotte';
    src: url('../fonts/charlotte.woff2') format('woff2'),
        url('../fonts/charlotte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes flash {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes flash {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
  100% {opacity: 0;}
}
:root {
    --primary-color : #814792;
    --second-color : #68b737;
    --second-lighter-color : #83bb60;
    /*--second-color : #6cabde;*/
    --dark-grey : #636466;
    --ligth-grey: #dcdcdc75;
    --danger-color: #d55824;
}

body {
    font-family: futura_medium, sans-serif;
    color: var(--dark-grey);
}
.logo {
    vertical-align: middle;
}
.foreground {
    position: fixed;
    top: 60vh;
    left: 0;
}
header {
    grid-area: header;
    background-image: url("../images/calophyllum/calophyllum-header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    line-height: 150px;
}
.nav-item, .footer-item {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
}
.nav-item, .footer-item {
    display: inline-block;
    color: #ffffff;
}
.nav-item:hover .dropdown-menu {
    height: 40px;
    background-color: rgba(128,128,128,0.3);
    color: var(--dark-grey);
    box-shadow: 0px 3px 3px gray;
}
.nav-item a, .footer-item a {
    color: inherit;
}
.nav-item:hover, .nav-item-active {
    background-color : var(--primary-color);
}
.nav-column .nav-item {
    color: var(--primary-color);
    text-align: left;
    list-style: none;
    display: block;
}
.nav-column .nav-item:hover, .nav-column .nav-item-active {
    color : var(--second-color);
    background-color: unset;
}
/*.nav-item-active {
    position: relative;
}
.nav-item-active::after {
    content: '';
    display: block;
    background-color: #99a976;
    position: absolute;
    width: 100%;
    height: 10px;
    top: 38px;
    left: 0;
    border-radius: 0 0 10px 10px;
    z-index: 2;
}*/
.footer-item:hover, .footer .item-active {
    color: var(--second-color);
}
.dropdown-item:hover, .dropdown-menu .item-active {
    color: var(--primary-color);
}
.dropdown-item:not(:first-child)::before {
    content: '\002022';
    color:var(--primary-color);
    margin: 0 7px;
}
.bars {
    position: absolute;
    z-index: 2;
}
.nav-tab {
    grid-area: nav;
}
.nav-tab ul {
    position: relative;
    background-color: var(--second-color);
}
.bars {
    top: 20px;
    right: 20px;
}
.nav-btn {
    color: #ffffff;
    display: none;
    font-size: 1.2em;
    background-color: transparent;
    padding: 10px;
}
.dropdown-menu {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100%;
    height: 0px;
    line-height: 40px;
    overflow: hidden;
    transition: all 1s ease;
    font-weight: 700;
}
.container {
    margin: 0 auto;
    /*background-color: #fdfaed;*/
    min-height: 100vh;
    position: relative;
    grid-template-areas: "header"
                        "nav"
                        "main"
                        "footer";
    grid-template-rows: 150px 40px auto auto;
    text-align: center;
    /*background-image: url("../images/calophyllum/fond-bois-blanc.jpg");
    background-size: cover;
    background-attachment: fixed;*/
}
.grid, .container {
    display: grid;
    width: 100%;
}
.page {
    grid-area: main;
    margin-top: 90px;
}
.max-width {
    width: 920px;
    margin: 40px auto;
    box-sizing: border-box;
}
.footer {
    text-align: center;
    font-size: 0.8em;
    grid-area: footer;
    font-weight: 700;
}
.dark-background, nav {
    color : #ffffff;
    box-sizing: border-box;
}
.dark-background {
    background-color: var(--primary-color);
}
.padding-40 {
    padding: 40px 40px 0 40px;
    box-sizing: border-box;
}
.grid-2-col {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-column-gap: 50px;
}
.grid-3-col {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    grid-column-gap: 50px;
}
.hidden {
    display: none;
}
h1 {
    font-family: charlotte, cursive;
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 50px;
    text-align: left;
    position: relative;
    overflow: hidden;
    padding-left: 5px;
}
h1::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: var(--primary-color);
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    top: 60%;
}
h2:not(:empty) {
    font-family: futura_medium_italic, sans-serif;
    font-size: 1.5em;
    color: var(--primary-color);
    grid-column: 1 / 4;
    margin-bottom: 30px;
}
h2:empty {
    display: none;
}
h3 {
    margin-bottom: 10px;
}
h4 {
    margin-top: 10px;
}
.dark-background h1, .dark-background h2, .dark-background a i, .dark-background hr {
    color: #ffffff;
}
.list-item h3 {
    font-family: futura_medium_italic, sans-serif;
    margin: 10px 20px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.2em;
}
.list-item h3::after {
    content: '';
    height: 1px;
    background-color: var(--primary-color);
    display: block;
    margin-top: 5px;
}
article {
    position: relative;
    overflow: hidden;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.full-size {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.animate-background {
    display: flex;
    text-align: justify;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
}
.animate-background:hover {
    background-color: var(--second-color);
}
.overlay {
    padding: 20px;
    background-color: rgba(255,255,255,0.6);
    box-sizing: border-box;
}
.grid-2-col .text-overlay {
    text-align: justify;
}
.grid-3-col .text-overlay {
    text-align: center;
}
.position-right {
    position: absolute;
    right: 0;
    top: 0;
}
.width-33 {
    width: 33%;
    height: 100%;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.wrapper-text {
    padding: 15px;
    grid-column: 3 / 5;
    text-align: justify;
}
.wrapper-list {
    padding: 15px;
    text-align: center;
}
.light-background {
    background-color: var(--ligth-grey);
    color: var(--dark-grey);
}
.bigger-text {
    font-size: 1.1em;
    line-height: 1.4em;
}
.bigger-i {
    font-size: 3em; 
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-center {
    justify-content: center;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-left::after, .float-right::after {
    content: '';
    clear: both;
}
.flex-item {
    margin-bottom: 30px;
}
.wrapper-list .flex-item a, td a {
    color: var(--dark-grey);
}
.wrapper-list .flex-item a:hover img {
    transform: scale(1.1);
}
.flex-item:not(:first-child) {
    margin-left: 30px;
}
.flex-item:not(:last-child) {
    margin-right: 30px;
}
.m-t-20 {
    margin-top: 20px;
}
.reference {
    font-size: 0.9em;
    font-family: futura_medium_italic;
}
.grid-prices {
    grid-template-areas: "first-column title"
                         "first-column main"
                         "first-column footer";
    grid-template-columns: 2.5fr 7.5fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0 4%;
    gap: 0 4%;
}
.grid > .last-column {
    grid-area: last-column;
}
.grid > .first-column {
    grid-area: first-column;
}
.grid > main {
    grid-area: main;
}
.grid > h1 {
    grid-area: title;
    grid-column: 1 / 3;
}
.grid > footer {
    grid-area: footer;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: .9em;
    margin-bottom: 50px;
}
.price, .unit {
    min-width: 30px;
    text-align: right;
}
.quantity {
    min-width: 30px;
    text-align: center;
}
table tr {
    border-bottom: 1px solid var(--ligth-grey);
    line-height: 25px;
}
.legal-notices {
    margin-bottom: 50px;
}
.column-2 {
    column-count: 2;
    gap: 50px;
}
.marging-top:not(:first-child) {
    margin-top: 50px;
}
form input, textarea, .btn {
    padding: 10px;
    margin-top: 10px;
    border: none;
}
form input[type="text"],form input[type="email"], form input[type="password"],textarea {
    width: 100%;
    box-sizing: border-box;
}
textarea {
    min-height: 100px;
}
.btn {
    display: inline-block;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
}
.btn-primary {
    background-color: var(--primary-color);
}
.btn-secondary {
    background-color: var(--second-color);
}
.btn-disabled {
    background-color: #81479282;
}
.btn-disabled:hover {
    cursor: not-allowed;
}
.btn-hint {
    color: var(--primary-color);
}
.btn-danger {
    background-color: var(--danger-color);
}
.btn-danger a, .btn-primary a, .btn-secondary a {
    color: white;
}
.btn:not(:first-child) {
    margin-left: 10px;
}
hr.max-width {
    margin: 10px auto;
    color: inherit;
}
.flashes {
    position: fixed;
    z-index: 99;
    right: 0;
    width: 150px;
}
.flash-success {
    background-color: var(--second-color);
    margin: 10px;
    padding: 10px;
    color: white;
    opacity: 0;
    -webkit-animation: flash 5s;
    animation: flash 5s;
}
iframe {
    margin-top: 30px;
}
.time-line {
    margin: 10px auto;
    font-weight: 700;
    color: var(--primary-color);
}
a legend {
    color: var(--dark-grey);
}
.large-picto {
    font-size: 60px;
    margin-right: 20px;
}
.inline * {
    display: inline-block;
    width: auto;
}
.admin .form-group {
    display: flex;
    width: 100%;
}
.admin .form-label {
    width: 30%;
    line-height: 48px;
}

.form-group:not(:last-child) {
    margin-bottom: 15px;
}
.form-group .price {
    font-size: 30px;
}
.badge {
    border: 2px solid var(--primary-color);
    font-size: 0.9em;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.badge h3 {
    color: var(--primary-color);
    margin-bottom: initial;
    font-size: 1em;
}
.badge:not(last-child) {
    margin-bottom: 10px;
}
/*.badge-body p:not(:last-child):after {
    content: '';
    position: relative;
    display: block;
    height: 1px;
    background-color: var(--dark-grey);
    margin: 5px auto;

}*/
.badge-footer {
    text-align: right;
}
thead {
    text-align: center;
}
td, th {
    padding: 5px;
}
.position-relatif {
    position: relative;
}
.position-bottom {
    position: absolute;
    bottom: 0;
}
.max-content {
    width: max-content;
    min-width: 120px;
}
.x-footer {
    padding: 20px;
    text-align: right;
}
.list-item-border {
    border: 1px solid var(--ligth-grey);
    padding: 20px;
}
.list-item-border:hover {
    box-shadow: 3px 2px 2px var(--ligth-grey);
}
.profil {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: inline-block;
}
.select-box {
    border:2px solid var(--primary-color);
    padding: 10px 10px 10px 30px;
    margin-bottom: 10px;
    position: relative;
}
.select-box h4 {
    color: var(--primary-color);
    margin: 0px;
}
.select-box.active::before {
    content: '\002714';
    position: absolute;
    left: -20px;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 3px solid var(--second-color);
    background-color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    top: calc((100% - 40px) / 2);
    box-sizing: border-box;
}
#date-line-fields-list {
    list-style: none;
}
.fa-times-circle {
    color: var(--primary-color);
}
.fa-check-circle {
    color: var(--second-color);
}
.tool {
    float: right;
}
.tool::after {
    content: '';
    clear: both;
}
.column-text {
    text-align: justify;
    column-count: 2;
}
.column-text h2 {
    margin-bottom: 5px;
}

.column-text h2:not(:first-child) {
    margin-top: 20px;
}
ul {
    break-inside: avoid;
}
.column-text p {
    margin-bottom: 5px;
}
.column-text p:not(:first-child) {
    margin-top: 5px;
}