{% extends 'base_modal.html.twig' %}
{% block modal_title %}Modifier un produit{% endblock %}
{% block body %}
    {{ form_start(form)}}
    <div class="form-group inline">
        {{ form_label(form.title) }} {{ form_widget(form.title) }}
    </div>
    {{ form_end(form)}}
{% endblock %}
