<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body {
                font-family: yu gothic ui m, sans-serif;
                color: #333333;
                background-color: #9e9e9ea8;
            }
        </style>
    </head>
    <body>
        <h2>{{email_message.firstName}} {{email_message.lastName}}</h2>
        <p>vous a envoyé un message de puis le site "{{var_parameters.getCompany}}".</p>
        <hr>
        <p>{{email_message.content}}</p>
    </body>
</html>